# Capstone Project: Airline Departure Delays
# Notebook I (Data Cleaning)

Author: Julie Vovchenko

---

## Table of Content:
- [Reading Files](#Reading-Files)
    -  [First Half of the Year](#First-Half-of-the-Year)  
    -  [Second Half of the Year](#First-Half-of-the-Year) 
-  [Canceled Flights](#Canceled-Flights)  
-  [Checking Null Values](#Checking-Null-Values) 
-  [Saving Cleaned Data to File](#Saving-Cleaned-Data-to-File) 

## Datasets

- [Data for January 2018](../data/1014682883_T_ONTIME_REPORTING_2018_1.csv)
- [Data for February 2018](../data/1014682883_T_ONTIME_REPORTING_2018_2.csv)
- [Data for March 2018](../data/1014682883_T_ONTIME_REPORTING_2018_3.csv)
- [Data for April 2018](../data/1014682883_T_ONTIME_REPORTING_2018_4.csv)
- [Data for May 2018](../data/1014682883_T_ONTIME_REPORTING_2018_5.csv)
- [Data for June 2018](../data/1014682883_T_ONTIME_REPORTING_2018_6.csv)
- [Data for July 2018](../data/1014682883_T_ONTIME_REPORTING_2018_7.csv)
- [Data for August 2018](../data/1014682883_T_ONTIME_REPORTING_2018_8.csv)
- [Data for September 2018](../data/1014682883_T_ONTIME_REPORTING_2018_9.csv)
- [Data for October 2018](../data/1014682883_T_ONTIME_REPORTING_2018_10.csv)
- [Data for November 2018](../data/1014682883_T_ONTIME_REPORTING_2018_11.csv)
- [Data for December 2018](../data/1014682883_T_ONTIME_REPORTING_2018_12.csv)

The data was provided by the Bureau of Transportation Statistics under this website:  
https://www.transtats.bts.gov/DL_SelectFields.asp?Table_ID=236

In [1]:
# Importing Libraries
import seaborn as sns
import numpy as np
import pandas as pd

## Reading Files

### First Half of the Year

In [2]:
# Reading 6 csv files for the first half of the year
jan = pd.read_csv('../data/1014682883_T_ONTIME_REPORTING_2018_1.csv')
feb = pd.read_csv('../data/1014682883_T_ONTIME_REPORTING_2018_2.csv')
mar = pd.read_csv('../data/1014682883_T_ONTIME_REPORTING_2018_3.csv')
apr = pd.read_csv('../data/1014682883_T_ONTIME_REPORTING_2018_4.csv')
may = pd.read_csv('../data/1014682883_T_ONTIME_REPORTING_2018_5.csv')
jun = pd.read_csv('../data/1014682883_T_ONTIME_REPORTING_2018_6.csv')

/Users/juliev/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (68,75) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
# Calculating the total number of rows for first half of the year
jan.shape[0] + feb.shape[0] +mar.shape[0] +apr.shape[0] +may.shape[0] +jun.shape[0]

3541604

In [4]:
# Concatinating first half of the year in one dataframe
df1 = pd.concat([jan, feb, mar, apr, may, jun])
df1 = df1.drop('Unnamed: 76', axis=1)
# Checking the size of the dataset with first half of the year
df1.shape

(3541604, 76)

### Second Half of the Year

In [5]:
# Reading 6 csv files for the second half of the year
jul = pd.read_csv('../data/1014682883_T_ONTIME_REPORTING_2018_7.csv')
aug = pd.read_csv('../data/1014682883_T_ONTIME_REPORTING_2018_8.csv')
sep = pd.read_csv('../data/1014682883_T_ONTIME_REPORTING_2018_9.csv')
octb = pd.read_csv('../data/1014682883_T_ONTIME_REPORTING_2018_10.csv')
nov = pd.read_csv('../data/1014682883_T_ONTIME_REPORTING_2018_11.csv')
dec = pd.read_csv('../data/1014682883_T_ONTIME_REPORTING_2018_12.csv')

In [6]:
# Calculating the total number of rows for second half of the year
jul.shape[0] + aug.shape[0] +sep.shape[0] +octb.shape[0] +nov.shape[0] +dec.shape[0]

3671842

In [7]:
# Concatenating second half of the year in one dataframe
df2 = pd.concat([jul, aug, sep, octb, nov, dec])
df2 = df2.drop('Unnamed: 76', axis=1)
# Checking the size of the dataset with second half of the year
df2.shape

(3671842, 76)

In [8]:
# Merging both datasets into one for the entire 2018
df = pd.concat([df1, df2])
# Checking the size of the concatinated dataframe
print(f'Sum of rows for both dataframes: {df1.shape[0] + df2.shape[0]}')
print(f'Total count of rows for concatenated dataframe: {df.shape[0]}')

Sum of rows for both dataframes: 7213446
Total count of rows for concatenated dataframe: 7213446

**Observation:**  
Concatenation was successful. Total sum of rows match.

In [9]:
# Getting the first look at the resulting dataframe
df.head()

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,...,DIV_ARR_DELAY,DIV_DISTANCE,DIV1_AIRPORT,DIV1_AIRPORT_ID,DIV1_AIRPORT_SEQ_ID,DIV1_WHEELS_ON,DIV1_TOTAL_GTIME,DIV1_LONGEST_GTIME,DIV1_WHEELS_OFF,DIV1_TAIL_NUM
0,2018,1,1,27,6,2018-01-27,UA,19977,UA,N26232,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018,1,1,27,6,2018-01-27,UA,19977,UA,N477UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018,1,1,27,6,2018-01-27,UA,19977,UA,N13720,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018,1,1,27,6,2018-01-27,UA,19977,UA,N16217,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018,1,1,27,6,2018-01-27,UA,19977,UA,N33714,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Canceled Flights

In [14]:
# Checking how many values this column represents
df['CANCELLED'].unique()

array([0., 1.])

In [13]:
# Getting the number of rows for canceled flights
df[df['CANCELLED'] == 1].shape

(116584, 76)

In [15]:
# Getting the view of the rows with canceled flights
df[df['CANCELLED'] == 1].head()

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,...,DIV_ARR_DELAY,DIV_DISTANCE,DIV1_AIRPORT,DIV1_AIRPORT_ID,DIV1_AIRPORT_SEQ_ID,DIV1_WHEELS_ON,DIV1_TOTAL_GTIME,DIV1_LONGEST_GTIME,DIV1_WHEELS_OFF,DIV1_TAIL_NUM
6067,2018,1,1,22,1,2018-01-22,UA,19977,UA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6234,2018,1,1,22,1,2018-01-22,UA,19977,UA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6383,2018,1,1,22,1,2018-01-22,UA,19977,UA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6633,2018,1,1,22,1,2018-01-22,UA,19977,UA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6763,2018,1,1,22,1,2018-01-22,UA,19977,UA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**Observation:**  
Based on our observation, information about canceled flights is about flights that never made to the destination point and delay related columns in these rows are about the cancelation only. To keep data related only to flights that took place, we decided to delete these rows.

In [16]:
# Saving never canceled flights 
df = df[df['CANCELLED'] == 0]

In [17]:
# Deleting the whole column 'CANCELLED', since it has no value
df = df.drop('CANCELLED', axis=1)

In [18]:
# Checking the size of the new dataframe with departed flights
df.shape

(7096862, 75)

### Checking Null Values

In [19]:
# Getting a sum of rows with null vallues per column 
df.isnull().sum()[df.isnull().sum()>0]

DEP_DELAY                     4743
DEP_DELAY_NEW                 4743
DEP_DEL15                     4743
DEP_DELAY_GROUP               4743
WHEELS_ON                     2662
TAXI_IN                       2662
ARR_TIME                      2661
ARR_DELAY                    20456
ARR_DELAY_NEW                20456
ARR_DEL15                    20456
ARR_DELAY_GROUP              20456
CRS_ELAPSED_TIME                 7
ACTUAL_ELAPSED_TIME          17858
AIR_TIME                     17858
CARRIER_DELAY              5744152
WEATHER_DELAY              5744152
NAS_DELAY                  5744152
SECURITY_DELAY             5744152
LATE_AIRCRAFT_DELAY        5744152
FIRST_DEP_TIME             7053323
TOTAL_ADD_GTIME            7053324
LONGEST_ADD_GTIME          7053324
DIV_REACHED_DEST           7079005
DIV_ACTUAL_ELAPSED_TIME    7081666
DIV_ARR_DELAY              7081666
DIV_DISTANCE               7079007
DIV1_AIRPORT               7079005
DIV1_AIRPORT_ID            7079005
DIV1_AIRPORT_SEQ_ID        7079005
DIV1_WHEELS_ON             7079005
DIV1_TOTAL_GTIME           7079005
DIV1_LONGEST_GTIME         7079005
DIV1_WHEELS_OFF            7081592
DIV1_TAIL_NUM              7081590
dtype: int64

**Observation:**  
We will also leave columns related to arrival, but delete columns that mostly have null values throughout.

In [20]:
# Getting the list of all columns that we need to drop
list_cols_to_drop = ['CARRIER_DELAY','WEATHER_DELAY',
                     'NAS_DELAY','SECURITY_DELAY',
                     'LATE_AIRCRAFT_DELAY',"FIRST_DEP_TIME", 
                     "TOTAL_ADD_GTIME",
                     "LONGEST_ADD_GTIME", "DIV_REACHED_DEST",
                     "DIV_ACTUAL_ELAPSED_TIME", "DIV_ARR_DELAY",
                     "DIV_DISTANCE", "DIV1_AIRPORT", "DIV1_AIRPORT_ID",
                     "DIV1_AIRPORT_SEQ_ID", "DIV1_WHEELS_ON",
                     "DIV1_TOTAL_GTIME", "DIV1_LONGEST_GTIME",
                     "DIV1_WHEELS_OFF", "DIV1_TAIL_NUM"]

# Dropping all unnecessary columns from dataset
df = df.drop(list_cols_to_drop, axis=1)

**Observation:**  
Since 'CRS_ELAPSED_TIME' column represents number of minutes in air, and we cant calculate or impute these values, we may delete these 7 rows with null values.

In [21]:
# Deleting rows with null values in column CRS_ELAPSED_TIME
df.dropna(subset=['CRS_ELAPSED_TIME'], inplace=True)

In [22]:
# For flights departured on time, set 'departure delay' to 0
df.loc[df.CRS_DEP_TIME == df.DEP_TIME, 'DEP_DELAY'] = 0

# Setting to 0 to departure delay related columns if delay is 0
df.loc[df.DEP_DELAY <= 0, 'DEP_DELAY_NEW'] = 0
df.loc[df.DEP_DELAY <= 0, 'DEP_DEL15'] = 0
df.loc[df.DEP_DELAY <= 0, 'DEP_DELAY_GROUP'] = 0

In [23]:
# Checking the count of all null values again
df.isnull().sum()[df.isnull().sum()>0]

DEP_DELAY                  4
DEP_DELAY_NEW              4
DEP_DEL15                  4
DEP_DELAY_GROUP            4
WHEELS_ON               2662
TAXI_IN                 2662
ARR_TIME                2661
ARR_DELAY              20449
ARR_DELAY_NEW          20449
ARR_DEL15              20449
ARR_DELAY_GROUP        20449
ACTUAL_ELAPSED_TIME    17851
AIR_TIME               17851
dtype: int64

**Observation:**  
We note that there are 4 rows with missing data on Departure Delay related columns. Hypothetically, we can calculate those and impute the proper values. But the time put into calculating the difference between the actual departure and scheduled departure times will be unproductive and time consuming in this case. We decided to delete these 4 rows.

In [24]:
# Deleting rows with null values in column DEP_DELAY
df.dropna(subset=['DEP_DELAY'], inplace=True)

In [25]:
# Checking the count of all null values again
df.isnull().sum()[df.isnull().sum()>0]

WHEELS_ON               2658
TAXI_IN                 2658
ARR_TIME                2657
ARR_DELAY              20445
ARR_DELAY_NEW          20445
ARR_DEL15              20445
ARR_DELAY_GROUP        20445
ACTUAL_ELAPSED_TIME    17847
AIR_TIME               17847
dtype: int64

**Observation**  
Columns 'WHEELS_ON','TAXI_IN', 'ACTUAL_ELAPSED_TIME' and other Arrival related columns, we might need them in the future and we wont touch rows or columns with null values in these columns.

In [26]:
# Viewing all possible values for column FLIGHTS
df['FLIGHTS'].unique()

array([1.])

**Observation:**  
There is only one value in column FLIGHTS, so we can remove this column as well

In [27]:
# Dropping column FLIGHTS
df = df.drop('FLIGHTS', axis=1)

In [28]:
# Checking the total number of rows and columns for resulting dataframe
df.shape

(7096851, 54)

### Saving Cleaned Data to File

In [29]:
# Saving clean dataframe to 2018_reporting_clean.csv file
df.to_csv('../data/2018_reporting_clean.csv', index = False)